.low-sum {
  background-color: rgb(255,81,83, .7);
  border-radius: 4rem;
}

.high-sum {
  background-color: #24ff82;
  border-radius: 4rem
}

.total-trips {
  padding: 1rem;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4rem;
  display: inline-block;
}

.lista-wycieczek {
  padding-bottom: 2rem;
  margin-top: 7rem;
}

.filter-section {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
  font-size: 18px;
  height: 700px;
}

.filter-section form {
  margin-top: 1rem;
}
