.admin-panel {
  margin-top: 7rem;
}

.trips-management {
  padding: 1rem;
}

.actions-group .btn:hover {
  cursor: pointer;
}

.checkbox-1x {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}
.checkbox-2x {
  transform: scale(2);
  -webkit-transform: scale(2);
}

.form-check {
  text-align: center;
}
