<div class="aplikacja-wycieczki">
  <ngx-spinner></ngx-spinner>
  <header-component></header-component>

  <div class="container main-content">
<!--    <lista-wycieczek-component-->
<!--      [wycieczki]="items"-->
<!--    ></lista-wycieczek-component>-->
    <router-outlet></router-outlet>
  </div>

  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">SadovSky© 2019 Copyright:
      <a href="#page-top"> Szymon Sadowski</a>
    </div>
  </footer>

</div>



